@media screen and (max-width: 992px) {
    .client-btn-wrapper h2 {
        font-size: 22px !important;
    }

    .header-wrapper .nav-links a {
        float: none;
        display: none;
        text-align: left;
        width: 100%;
    }

    .icon {
        float: right;
        display: block;
        margin-left: 20px;
        font-size: 18px;
        font-size: 18px;
        width: 28px;
        height: 29px;
        cursor: pointer;
    }

    .header-wrapper .nav-links.responsive {
        position: absolute;
        background: var(--bg-black);
        width: 100%;
        top: 72px;
        left: 0;
        text-align: center;
    }


    .header-wrapper .nav-links.responsive a {
        display: block;
        text-align: center;
        padding: 14px 20px;

    }

    /* Hover effect for mobile */
    .header-wrapper .nav-links a::after {
        visibility: hidden;
    }

    .feature-wrapper .text-sec {
        width: 90%;
        text-align: center;
    }

    .choose-left {
        width: 100%;
    }

    .full-choose-left{
        padding-top: 2vh !important;
    }

}

@media screen and (max-width: 390px) {
    .header-wrapper .fa-search {
        margin-right: unset;
    }

    .icon {
        margin-left: 10px;
    }
}

@media screen and (max-width: 390px) {
    .navbar .logo img {
        width: 120px;
    }

    .header-wrapper .nav-links.responsive {
        top: 58px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 45px !important;
    }

    /* h2 {
        font-size: 15px !important;
    } */

    p,
    .main-btn,
    .contactus-btn {
        font-size: 14px;
    }

    h5 {
        font-size: 14px !important;
    }

    .box1 img,
    .box2 img,
    .box3 img,
    .box4 img {
        width: 25px;
    }
}

@media screen and (max-width: 530px) {
    h1 {
        font-size: 30px !important;
    }

    p,
    .main-btn,
    .contactus-btn {
        font-size: 10px;
    }

    h5 {
        font-size: 10px !important;
    }

    .client-btn-wrapper .see-client-btn {
        padding: 10px 22px;
        width: 150px !important;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        height: 100px;
    }

    .foormargin {
        margin-top: 2rem !important;
    }
}

@media screen and (max-width: 400px) {
    .boxes {
        --bs-gutter-x: 8px !important;

    }
}